@import "global";

$DarkBlue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
$VeryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
$LightShadow: hsl(208, 23%, 16%);
$textHover: hsl(209, 23%, 24%);

.darkMode {
  background-color: $VeryDarkBlue;
  .nav {
    background-color: $DarkBlue;
    box-shadow: 0.1px 0.1px 5px 0.5px $LightShadow;
    #Home,
    #Mode {
      color: $White;
    }
  }
  .header {
    color: $White;
    .searchbox {
      background-color: $DarkBlue;
      color: $White;
      font-weight: 600;
      box-shadow: 0.1px 0.1px 5px 0px $LightShadow;

      input {
        background-color: $DarkBlue;
        color: $White;
      }
      ::placeholder {
        color: $White;
      }
    }
  }
  .dropdown {
    color: $White;
    &__btn,
    &__content {
      background-color: $DarkBlue;
      box-shadow: 0.1px 0.1px 5px 0px $LightShadow;
    }
    button {
      color: $White;
    }
    .region-btn:hover {
      background-color: $textHover;
    }
  }

  .card {
    color: $White;
    background-color: $DarkBlue;
    box-shadow: 0.1px 0.1px 5px 0px $LightShadow;
    &__img {
      border-bottom: 1px solid $LightShadow;
    }
  }
  .detail {
    color: $White;
    #back {
      color: $White;
      background-color: $DarkBlue;
      box-shadow: 0.1px 0.1px 5px 0px $LightShadow;
    }
    #back:hover {
      background-color: $textHover;
    }
    .country {
      &__borders {
        button {
          color: $White;
          background-color: $DarkBlue;
          box-shadow: 0.1px 0.1px 5px 0px $LightShadow;
        }
        button:hover {
          background-color: $textHover;
        }
      }
    }
  }
}
