$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

/* 
@media (min-width: 640px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 950px) {}
*/

@include media(">phone", "<tablet") {
}

@include media(">tablet", "<950px") {
}
